<!--Double navigation-->
<app-me-gym-navigation></app-me-gym-navigation>
<!--/.Double navigation-->

<!--Main Layout ~ Start-->
<main class="mt-1 pt-1">
  <!--Container ~ Start-->
  <div class="container-fluid ">
    <div class="d-flex justify-content-center mb-3">
      <div class="col-10">
        <!--Panel-->
        <form [formGroup]="createPack" (ngSubmit)="onSubmit(createPack.value)" [class.error]="!createPack.valid && createPack.touched">
          <div class="card">
            <h5 class="card-header primary-color white-text">
              <i class="fas fa-plus-square  fa-fw"></i> Create Pack</h5>
            <!-- Card Body ~ Start -->
            <div class="card-body">
              <!-- Row#01 -->
              <div class="row">
                <div class="col-12">
                  <h5 class="me-subheader">
                    <i class="fa fa-dot-circle-o fa-fw"></i> Pack Details</h5>
                  <div class="divider mb-2"></div>
                </div>
                <!-- Row#01Col#01 -->
                <div class="col-8">
                  <!-- Col#01-Row#01 -->
                  <div class="row">
                    <div class="col-8">
                      <div class="md-form font-weight-600">
                        <input mdbInputDirective [mdbValidate]="false" type="text" id="packName" class="form-control mb-0" app-restrict-input="alphanumeric" [formControl]="createPack.controls['pack_name']"
                          required maxlength="50" mdbActive>
                        <label for="packName">Pack Name</label>

                        <!-- *********************  form validation  messages ********************* -->
                        <div class="animated flash" *ngIf="pack_name.hasError('required')  && pack_name.touched">
                          <small class="red-text fnt-sz-065 font-weight-600">
                            <i class="fa fa-warning fa-fw"></i>Required</small>
                        </div>
                        <div class="animated fadeIn" *ngIf="!pack_name.valid && !pack_name.touched">
                          <small class="grey-text fnt-sz-065 font-weight-600">
                            <i class="fa fa-info-circle fa-fw"></i>Enter Pack Name</small>
                        </div>
                        <div class="animated fadeIn" *ngIf="showDuplicate">
                          <small class="red-text fnt-sz-065 font-weight-600">
                            <i class="fa fa-info-circle fa-fw"></i>This Pack Name Already Exists</small>
                        </div>
                        <!-- *********************  form validation  messages ********************* -->

                      </div>
                    </div>
                    <div class="col-4 mt-4">
                      <div class=" font-weight-600">
                        <mdb-select [options]="_packTypeSelect" placeholder="Select Option" [formControl]="createPack.controls['pack_type']" 
                          id="packType" class="colorful-select dropdown-primary"></mdb-select>
                        <label for="packType">Pack Type</label>

                        <!-- *********************  form validation  messages ********************* -->
                        <div class="me-required-text left animated flash" *ngIf="pack_type.hasError('required') && pack_type.touched">
                          <small class="red-text fnt-sz-065 font-weight-600">
                            <i class="fa fa-warning fa-fw"></i>Required</small>
                        </div>
                        <div class="me-helper-text left animated fadeIn" *ngIf="!pack_type.valid && !pack_type.touched">
                          <small class="grey-text fnt-sz-065 font-weight-600">
                            <i class="fa fa-info-circle fa-fw"></i>Select Pack Type</small>
                        </div>
                        <!-- *********************  form validation  messages ********************* -->

                      </div>
                    </div>
                  </div>
                  <!-- Col#01-Row#02 -->
                  <div class="row">
                    <div class="col-4 mt-4">
                      <div class=" font-weight-600">
                        <mdb-select [options]="_packPriceType" placeholder="Select Option" [formControl]="createPack.controls['pack_price_type']"
                          id="packPriceType" class="colorful-select dropdown-primary"></mdb-select>
                        <label for="packPriceType">Tax Type</label>

                        <!-- *********************  form validation  messages ********************* -->
                        <div class="me-required-text left animated flash" *ngIf="pack_price_type.hasError('required')  && pack_price_type.touched">
                          <small class="red-text fnt-sz-065 font-weight-600">
                            <i class="fa fa-warning fa-fw"></i>Required</small>
                        </div>
                        <div class="me-helper-text left animated fadeIn" *ngIf="!pack_price_type.valid && !pack_price_type.touched">
                          <small class="grey-text fnt-sz-065 font-weight-600">
                            <i class="fa fa-info-circle fa-fw"></i>Select Pack Price Type</small>
                        </div>
                        <!-- *********************  form validation  messages ********************* -->

                      </div>
                    </div>
                    <div class="col-4">
                      <div class="md-form font-weight-600">
                        <input mdbInputDirective [mdbValidate]="false" type="number" id="packPrice" class="form-control mb-0" app-restrict-input="amount" required min="10"
                          max="99999" [formControl]="createPack.controls['pack_price']" mdbActive maxlength="5">
                        <label for="packPrice">Pack Price</label>

                        <!-- *********************  form validation  messages ********************* -->
                        <div class="me-required-text left animated flash" *ngIf="pack_price.touched && pack_price.hasError('required')">
                          <small class="red-text fnt-sz-065 font-weight-600">
                            <i class="fa fa-warning fa-fw"></i>Enter amount greater than 0 ( required ) </small>
                        </div>
                        <div class="me-required-text left animated flash" *ngIf="!pack_price.touched">
                          <small class="grey-text fnt-sz-065 font-weight-600">
                            <i class="fa fa-warning fa-fw"></i>Enter amount greater than 0 ( required ) </small>
                        </div>
                        <!-- *********************  form validation  messages ********************* -->

                      </div>
                    </div>
                  </div>
                  <!-- Col#01-Row#03 -->
                  <div *ngIf="showDuration">
                    <div class="row">
                      <div class="col-4 mt-4">
                        <div class=" font-weight-600">
                          <mdb-select [options]="_packDurationType" placeholder="Select Option" [formControl]="createPack.controls['pack_duration_type']"
                            id="durationType" class="colorful-select dropdown-primary"></mdb-select>
                          <label for="durationType">Duration Type</label>

                          <!-- *********************  form validation  messages ********************* -->
                          <div class="me-required-text left animated flash" *ngIf="pack_duration_type.hasError('required') && pack_duration_type.touched">
                            <small class="red-text fnt-sz-065 font-weight-600">
                              <i class="fa fa-warning fa-fw"></i>Required</small>
                          </div>
                          <div class="me-helper-text left animated fadeIn" *ngIf="!pack_duration_type.valid && !pack_duration_type.touched">
                            <small class="grey-text fnt-sz-065 font-weight-600">
                              <i class="fa fa-info-circle fa-fw"></i>Select Duration Type</small>
                          </div>
                          <!-- *********************  form validation  messages ********************* -->

                        </div>
                      </div>

                      <div class="col-4">
                        <div class="md-form font-weight-600">
                          <input mdbInputDirective [mdbValidate]="false" type="text" id="duration" class="form-control mb-0" [formControl]="createPack.controls['pack_duration']">
                          <label for="duration">Duration</label>
                          <!-- *********************  form validation  messages ********************* -->
                          <div class="me-required-text left animated flash" *ngIf="pack_duration.hasError('required')">
                            <small class="red-text fnt-sz-065 font-weight-600">
                              <i class="fa fa-warning fa-fw"></i>{{durationMessage}}</small>
                          </div>


                          <!-- <div class="me-helper-text left animated fadeIn" *ngIf="!pack_duration_type.valid && !pack_duration_type.touched">
                            <small class="grey-text fnt-sz-065">
                              <i class="fa fa-info-circle fa-fw"></i></small>
                          </div> -->

                          <!-- *********************  form validation  messages ********************* -->


                        </div>


                      </div>
                    </div>
                  </div>
                </div>
                <!-- Row#01Col#02 -->
                <div class="col-4">
                  <div class="row">
                    <div class="col-12">
                      <div class="z-depth-2  animate fadeIn  border-radius-5">
                        <div class="list-group ">
                          <li class="list-group-item primary-color white-text font-weight-500">
                            <i class="fas fa-cubes  fa-fw"></i> Pack Price Details
                          </li>
                          <li class="list-group-item  font-weight-500">Base Price
                            <span class="float-right">{{displaybase_price | number : '1.2-2'}}</span>
                          </li>
                          <div *ngIf="!nonTaxable">
                            <div *ngIf="gstSelected">
                              <li class="list-group-item  font-weight-500">CGST
                                <small class=" font-weight-300">({{gstAmount / 2}} %)</small>
                                <span class="float-right">{{displaycgst | number : '1.2-2'}}</span>
                              </li>
                              <li class="list-group-item  font-weight-500">SGST
                                <small class=" font-weight-300">({{gstAmount / 2}} %)</small>
                                <span class="float-right">{{displaygst | number : '1.2-2'}}</span>
                              </li>

                            </div>
                            <div *ngIf="igstSelected">
                              <li class="list-group-item  font-weight-500">IGST
                                <small class=" font-weight-300">({{gstAmount}} %)</small>
                                <span class="float-right">{{displayigst | number : '1.2-2'}}</span>
                              </li>

                            </div>
                          </div>
                          <li class="list-group-item  font-weight-500">Total Tax
                            <small class=" font-weight-300">({{gstAmount}} %)</small>
                            <span class="float-right">{{displaytotal_tax | number : '1.2-2'}}</span>
                          </li>
                          <li class="list-group-item font-weight-500 grey lighten-3">Total Price
                            <span class="float-right font-weight-500">{{displaytotal | number : '1.2-2'}}</span>
                          </li>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>



              </div>

              <!-- Row#02 -->
              <div class="row">
                <div class="col-12 ">
                  <h5 class="me-subheader">
                    <i class="fa fa-dot-circle-o fa-fw"></i> Pack Summary
                  </h5>
                  <div class="divider mb-2"></div>
                  <!--Table-->
                  <table class="table z-depth-2  border-radius-5">

                    <!--Table head-->
                    <thead class="primary-color  border-radius-5">
                      <tr class="text-white  border-radius-5">
                        <th>Pack Name</th>
                        <th>Pack Type</th>
                        <th>Duration</th>
                        <th>Total Price</th>
                      </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>

                      <tr>
                        <td>
                          <h5>
                            <span class="badge grey">{{displayPackName}}</span>
                          </h5>
                        </td>
                        <td>
                          <h5>
                            <span class="badge grey">{{displayPackType}}</span>
                          </h5>
                        </td>
                        <td>
                          <h5>
                            <span class="badge grey">{{displayDuration}}</span>
                          </h5>
                        </td>
                        <td>
                          <h5>
                            <span class="badge blue">{{displaytotal | number : '1.2-2' }}</span>
                          </h5>
                        </td>
                      </tr>

                    </tbody>
                    <!--Table body-->
                  </table>
                  <!--Table-->
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <!-- ******************* Form Submit Bar ~ Start ******************* -->
                  <div class="divider mt-3"></div>
                  <div class="d-flex justify-content-end mt-1">
                    <a [routerLink]="['/managepack']">
                      <button type="button" class="btn btn-outline-danger btn-rounded btn-sm waves-light " mdbRippleRadius>Cancel</button>
                    </a>
                    <button type="submit" class="btn btn-outline-default  btn-rounded btn-sm waves-light " mdbRippleRadius>Submit</button>
                  </div>

                  <!-- ******************* Form Submit Bar ~ End ******************* -->
                </div>
              </div>

            </div>
            <!-- Card Body ~ End -->
          </div>
        </form>
        <!--/.Panel-->
      </div>
    </div>
  </div>
  <!--Container ~ End-->
</main>
<!--Main Layout ~ End-->